<section class="project_container">
	<header class="section_header">Projects</header>
	<div class="project_sub_container">
		<!-- for each project -->
		{{#each projects}}
		<div class="project_card">
			<!-- isPersonal -->
			{{#if isPersonal}}
			<span class="project_card_sub_title project_card_sub_personal">Personal Project</span>
			{{else}}
			<span class="project_card_sub_title project_card_sub_team">Team Project</span>
			{{/if}}
			<div class="project_card_title project_card_title_style">{{title}}</div>
			<div class="project_card_period">
				<span class="project_card_label">진행기간</span> {{period}}
			</div>
			<div class="project_card_techs">
				<span class="project_card_label">기술스펙</span>
				{{#each tech}}
					<span class="tech_tag">{{this}}</span>
				{{/each}}
			</div>
			<div class="project_card_description">
				{{description}}
			</div>
		</div>
		<div class="project_links">
			<a href="{{github_link}}"><span class="project_link"><i class="fa fa-github-alt" aria-hidden="true"></i>Github</span></a>
		</div>
		{{/each}}
	</div>
</section>
