<section class="profile_container">
	<div class="profile_sub_container">
		<div class="profile_image profile_image_style"></div>
		<div class="profile_infos">
			<!-- isworking on_the_job OR working -->
			{{#if isWorked}}
			<div class="profile_info profile_isworked profile_working">Working</div>
			{{else}}
			<div class="profile_info profile_isworked profile_on_the_job">On the job</div>
			{{/if}}
			<div class="profile_info profile_name">{{name}}</div>
			<div class="profile_info profile_job"><i class="fa fa-user-circle-o" aria-hidden="true"></i>{{job}}</div>
			<div class="profile_info profile_email"><i class="fa fa-envelope-o" aria-hidden="true"></i>{{email}}</div>
		</div>
		<div class="profile_links">
			<a href="{{facebook}}">
				<div class="profile_link profile_facebook_link">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</div>
			</a>
			<a href="{{linkedin}}">
				<div class="profile_link profile_linkedlin_link">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</div>
			</a>
			<a href="{{github}}">
				<div class="profile_link profile_blog_link">
					<i class="fa fa-github" aria-hidden="true"></i>
				</div>
			</a>
		</div>
	</div>
	<span class="profile_bar"></span>
	<div class="profile_one_line_intro profile_one_line_intro_style">{{one_line_intro}}</div>
</section>
