<!-- profile section -->
<section class="profile_container">
	<div class="profile_sub_container">
		<div class="profile_image profile_image_style" id="profile_image"></div>
		<div class="profile_infos">
			<!-- isworking on_the_job OR working -->
			<div class="profile_working_status">
				{{#if isWorked}}
				<div class="profile_info profile_isworked profile_working">Working</div>
				{{else}}
				<div class="profile_info profile_isworked profile_on_the_job">On the job</div>
				{{/if}}
			</div>
			<div class="profile_info profile_name">{{name}}</div>
			<div class="profile_info profile_job"><i class="fa fa-user-circle-o" aria-hidden="true"></i>{{job}}</div>
			<div class="profile_info profile_email"><i class="fa fa-envelope-o" aria-hidden="true"></i>{{email}}</div>
		</div>
		<div class="profile_links">
			<a href="{{facebook}}">
				<div class="profile_link profile_facebook_link">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</div>
			</a>
			<a href="{{linkedin}}">
				<div class="profile_link profile_linkedlin_link">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</div>
			</a>
			<a href="{{github}}">
				<div class="profile_link profile_blog_link">
					<i class="fa fa-github" aria-hidden="true"></i>
				</div>
			</a>
		</div>
	</div>
	<span class="profile_bar"></span>
	<div class="profile_one_line_intro profile_one_line_intro_style">{{one_line_intro}}</div>
</section>

<!-- work experience section -->
<section class="work_container">
	<header class="section_header">Work Experience</header>
	<div class="work_sub_container">
		<!-- for statement to each work array -->
		{{#each work}}
		<div class="work_info">
			<div class="work_logo work_info_img" id="work_logo_{{@key}}"></div>
			<div class="work_info_container">
				<div class="work_info_item work_info_name work_info_name_common">{{name}}</div>
				<div class="work_info_item work_info_period work_info_period_common"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{period}}</div>
				<div class="work_info_item work_info_position work_info_position_common"><i class="fa fa-user-o" aria-hidden="true"></i>{{position}}</div>
				<div class="work_info_item work_info_description work_info_description_common">{{description}}</div>
			</div>
		</div>
		{{/each}}
	</div>
</section>

<!-- Blog description section -->
<section class="blog_container">
	<header class="section_header">Blogs</header>
	<div class="blog_sub_container">
		{{#each blog}}
		<div class="blog_card">
			<header class="blog_card_title">{{title}}</header>
			<div class="blog_card_link">{{link}}</div>
			<div class="blog_card_description">{{description}}</div>
		</div>
		{{/each}}
	</div>
</section>

<!-- project description section -->
<section class="project_container">
	<header class="section_header">Projects</header>
	<div class="project_sub_container">
		<!-- for each project -->
		{{#each projects}}
		<div class="project_card">
			<!-- isPersonal -->
			{{#if isPersonal}}
			<span class="project_card_sub_title project_card_sub_personal">Personal Project</span>
			{{else}}
			<span class="project_card_sub_title project_card_sub_team">Team Project</span>
			{{/if}}
			<div class="project_card_title project_card_title_style">{{title}}</div>
			<div class="project_card_period">
				<span class="project_card_label">Period</span> {{period}}
			</div>
			<div class="project_card_techs">
				<span class="project_card_label">Spec</span>
				{{#each tech}}
					<span class="tech_tag">{{this}}</span>
				{{/each}}
			</div>
			<div class="project_card_description">
				{{description}}
			</div>
		</div>
		<div class="project_links">
			<a href="{{github_link}}"><span class="project_link"><i class="fa fa-github-alt" aria-hidden="true"></i>Github</span></a>
		</div>
		{{/each}}
	</div>
</section>

<!-- education description section -->
<section class="education_container">
	<header class="section_header">Education</header>
	<div class="education_sub_container">
		{{#each education}}
		<div class="education_card">
			<div class="education_logo education_logo_style" id="education_logo_{{@key}}"></div>
			<div class="education_info education_name">{{name}}</div>
			<div class="education_info education_period"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{period}}</div>
			<div class="education_info education_major"><i class="fa fa-address-card-o" aria-hidden="true"></i>{{major}}</div>
			<div class="education_info education_status"><i class="fa fa-star-o" aria-hidden="true"></i>{{status}}</div>
		</div>
		{{/each}}
	</div>
</section>

<!--  -->
<section class="activity_container">
	<header class="section_header">Activity</header>
	<div class="activity_sub_container">
		{{#each activity}}
		<div class="activity_card">
			<div class="activity_logo activity_logo_style" id="activity_logo_{{@key}}"></div>
			<div class="activity_card_style activity_card_title">{{title}}</div>
			<div class="activity_card_style activity_card_period"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{period}}</div>
			<div class="activity_card_style activity_card_description">{{description}}</div>
		</div>
		{{/each}}
	</div>
</section>

<!-- footer section -->
<div class="footer">
	<div class="footer_message">Thank you for reading my resume.</div>
	<div class="footer_message">If you want to contact me,</div>
	<div class="footer_message">Please send me an email.</div>
</div>
<div class="totopbtn_container">
	<div class="totopbtn" id="totopbtn">
		<i class="fa fa-angle-up" aria-hidden="true"></i>
	</div>
</div>

