<section class="work_container">
	<header class="section_header">Work Experience</header>
	<div class="work_sub_container">
		<!-- for statement to each work array -->
		{{#each works}}
		<div class="work_info">
			<div class="work_logo work_info_img" id="work_logo_{{@key}}"></div>
			<div class="work_info_container">
				<div class="work_info_item work_info_name work_info_name_common">{{name}}</div>
				<div class="work_info_item work_info_period work_info_period_common"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{period}}</div>
				<div class="work_info_item work_info_position work_info_position_common"><i class="fa fa-user-o" aria-hidden="true"></i>{{position}}</div>
				<div class="work_info_item work_info_description work_info_description_common">{{description}}</div>
			</div>
		</div>
		{{/each}}
	</div>
</section>
